body {
  /background-image*/
}
/* main div background color */
.main {
  background-color: #ffb3b3;
  margin-left: 200px;
  margin-right: 100px;

  padding: 0em;
  overflow: auto;
  text-align: center;
  color: white;
